<div class="wrapper-index">
  <div class="ichran">タスク一覧</div>
    <%=image_tag src= "task-logo.png"%>
  <table class="table">
    <thead class="thead">
      <tr>
        <th class="taskmei">タスク名</th>
        <%# <th></th>
        <th></th> %>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td class="task-name"><%= task.title %></td>
          <td><%= link_to '編集', edit_task_path(task) %></td>
          <td><%= link_to '削除', task_path(task), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '追加', new_task_path %>
</div>






























<%# 以下のファイルを復活してください %>



